@model Employee

@{
    ViewData["HideNavBar"] = "Hide";
}

<link href="~/css/Employee/EditEmployee.css" rel="stylesheet" />

<div class="row p-0 m-0 w-100 background-blur"></div>
<div class="row p-0 m-0 justify-content-center principal-form-container">
    <div class="col-11 p-0 m-0 form-rounded">
        <div class="row p-0 m-0 justify-content-center form-container">
            <div class="col-6 form-col-container">
                <div class="row p-0 m-0 justify-content-center">
                    <div class="col-11 p-0 m-0 principal-card-container">
                        <div class="row p-0 m-0 justify-content-center card-container">
                            <div class="col-4 p-0 m-0">
                                <div class="row p-0 m-0">
                                    <div class="col-12 p-0 m-0 image-container">
                                        <img class="user-image" />
                                    </div>
                                </div>
                                <div class="col-12 p-0 m-0">
                                    <input type="text" class="form-control text-center document-text-container" value="@Model.empDocument" />
                                </div>
                            </div>
                            <div class="col-8 p-0 m-0 data-container">
                                <div class="row m-0 p-0 justify-content-around row-data-container">
                                    <div class="col-5 p-0 m-0 col-data-container">
                                        <div class="input-form-container">
                                            <label>Name:</label>
                                            <input type="text" class="form-control" value="@Model.empName" />
                                        </div>
                                        <div class="input-form-container">
                                            <label>Phone:</label>
                                            <input type="text" class="form-control" value="@Model.empPhone" />
                                        </div>
                                    </div>
                                    <div class="col-5 p-0 m-0 col-data-container">
                                        <div class="input-form-container">
                                            <label>Surname:</label>
                                            <input type="text" class="form-control" value="@Model.empSurname" />
                                        </div>
                                        <div class="input-form-container">
                                            <label>Birth day:</label>
                                            <input type="datetime" class="form-control" value="@(Model.empBirthDay.ToString("yyyy-MM-dd"))" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-0 justify-content-center principal-row-family">
                    <div class="col-11 p-0 principal-col-family">
                        <div class="row p-0 m-0 row-family-container">
                            <div class="col-12 col-family-container">
                                TABLA AQUI
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 sub-options-container">
                <div class="row p-0 m-0 justify-content-center sub-options-row">
                    <div class="col-11 sub-options-col">
                        <div class="row p-0 m-0 principal-submenu-option">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>